<!DOCTYPE html>
<html>
<head>
  <title>Event Planner</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('../partials/header') %> <!-- Partial -->

  <%- body %> <!-- home.ejs inserted -->

  <%- include('../partials/footer') %> <!-- footer -->
</body>
</html>